{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div class="row">
  <div class="page-header">
    <h1>{% trans "Your Bottles" %}</h1>
  </div>
  {% if bottles %}
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Cellar</th>
          <th>Zone</th>
          <th>Name</th>
          <th>Wine</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for bottle in bottles %}
            <tr>
              <td><a href="/cellar/cellars/{{ bottle.cell.zone.cellar.id }}">{{ bottle.cell.zone.cellar.name }}</a></td>
              <td><a href="/cellar/zones/{{ bottle.cell.zone.id }}">{{ bottle.cell.zone.number }}</a></td>
              <td><a href="/cellar/cells/{{ bottle.cell.id }}">{{ bottle.cell.getName }}</a></td>
              <td>{{ bottle.wine.bottle_text }}</td>
              <td></td>
              <td>
                <a href="/cellar/bottles/edit/{{ bottle.id }}">Edit</a>
                <a href="/cellar/bottles/delete/{{ bottle.id }}">Delete</a>
            </td>
            </tr>
          {% endfor %}
      </tbody>
    </table>
  {% else %}
  <div class="alert alert-info" role="alert">
    <strong>Haha !</strong> {% trans "You didn't have any bottle yet." %}
  </div>
  {% endif %}
</div>
{% endblock %}
