{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block content %}
<script type="text/javascript" src="{% static 'django_ajax/js/jquery.ajax.min.js' %}"></script>
{% for wine in wines %}
  <script type="text/javascript">
      function getLikes(){
        ajaxGet('/cellar/bottles/ajax/likes/{{ wine.id }}/', function(content){
          //onSuccess
          $("#bottle-likes").text(content);
        });
      }

      function switch_like(){
        ajaxGet('/cellar/bottles/ajax/liked_it/{{ wine.id }}/', function(content){
            //onSuccess
            if(content == 'false') {
              $("#bottle-do_like").html('<a href="#" id="it-want-to-like-it"><img width="16px" src="{% static 'icons/heart_add.png' %}" /></a>');
            } else if (content == 'true') {
              $("#bottle-do_like").html('<a href="#" id="it-want-to-like-it"><img width="16px" src="{% static 'icons/heart_remove.png' %}" /></a>');
            }

            $("#it-want-to-like-it").click(function(event) {
              event.preventDefault();
              // alert('Prout')
              ajaxGet('/cellar/bottles/ajax/switch_like/{{ wine.id }}/', function(content){
                  //onSuccess
                  getLikes();
                  switch_like();
              })
            });
        });
      }

      getLikes();
      switch_like();
  </script>
{% endfor %}

<div class="row">
  {% if wines %}
    {% for wine in wines %}
      <div class="row jumbotron" style="background-image: url({{ MEDIA_URL }}{{ wine.etiquette }}); background-repeat: no-repeat; background-size: contain; background-position: center right;">
          <h1>
            {{ wine.bottle_text }}
            {% if user.is_superuser %}
              <span><a href="/wine/wines/edit/{{ wine.id }}"><img width="16px" src="{% static 'icons/pencil.png' %}" /></a></span>
            {% endif %}
          </h1>
          <p>{% trans "Winery" %} : {{ wine.winery.name }}</p>
              <span>
                <span id="bottle-do_like"><img width="16px" src="{% static 'icons/heart.png' %}" /></span>
                <span id="bottle-likes"></span>
                <span ></span>
              </span>
    </div>
    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>{% trans "Importer" %}</h2>
            <p>{{ wine.importer|default:_("Not set") }}</p>
        </div>
        <div class="col-md-4">
          <h2>{% trans "Notes" %}</h2>
            <p>{{ wine.notes|default:_("Not set") }}</p>
       </div>
        <div class="col-md-4">
          <h2>{% trans "Winery details" %}</h2>
          <p>{{ wine.winery.address.address_1 }}</p>
          <p>{{ wine.winery.address.address_2 }}</p>
          <p>{{ wine.winery.address.zip_code }} - {{ wine.winery.address.city }}</p>
          <p>{{ wine.winery.address.state.name }}</p>
          <p><a href="{{ wine.winery.website }}" target="_blank">{% trans "Website" %}</a></p>
          <!-- <p><a class="btn btn-default" href="#" role="button">View details »</a></p> -->
        </div>
      </div>
    </div>
    {% endfor %}
  {% else %}
  <div class="alert alert-info" role="alert">
    <strong>Haha !</strong> {% trans "There isn't any wine yet ..." %}
  </div>
  {% endif %}
</div>
{% endblock %}
