{% extends "base.html" %}
{% load i18n %}
{% load cellar_extras %}

{% block content %}
  {% if user.is_authenticated %}
  {% if cellars %}
  <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <!-- <ul class="nav nav-sidebar">
            <li class="active"><a href="#">Overview <span class="sr-only">(current)</span></a></li>
            <li><a href="#">Reports</a></li>
            <li><a href="#">Analytics</a></li>
            <li><a href="#">Export</a></li>
          </ul>
          <ul class="nav nav-sidebar">
            <li><a href="">Nav item</a></li>
            <li><a href="">Nav item again</a></li>
            <li><a href="">One more nav</a></li>
            <li><a href="">Another nav item</a></li>
            <li><a href="">More navigation</a></li>
          </ul> -->
          {{ user.username }}
        </div>
      </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header">Dashboard</h1>

          <div class="row placeholders">
            {% for cellar in cellars %}
            <div class="col-xs-6 col-sm-3 placeholder">
              <!-- <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" class="img-responsive" alt="Generic placeholder thumbnail" width="200" height="200"> -->
              <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="{{ cellar.get_percent_used }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ cellar.get_percent_used }}%;"><span class="sr-only">{{ cellar.get_percent_used }}% Complete</span></div>
              </div>
              <h4>{{ cellar.name }}</h4>
              <span class="text-muted">{% trans "Usage" %}</span>
            </div>
            <!-- <div class="col-xs-6 col-sm-3 placeholder">
              <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" class="img-responsive" alt="Generic placeholder thumbnail" width="200" height="200">
              <h4>Label</h4>
              <span class="text-muted">Something else</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" class="img-responsive" alt="Generic placeholder thumbnail" width="200" height="200">
              <h4>Label</h4>
              <span class="text-muted">Something else</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" class="img-responsive" alt="Generic placeholder thumbnail" width="200" height="200">
              <h4>Label</h4>
              <span class="text-muted">Something else</span>
            </div> -->
            {% endfor %}
          </div>

          <h2 class="sub-header">{% trans "Bottles" %}</h2>
          {% if bottles %}
            <div class="table-responsive">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>{% trans "Wine" %}</th>
                    <th>{% trans "Year" %}</th>
                    <th>{% trans "Date purchased" %}</th>
                    <th>{% trans "Wine" %}</th>
                    <th>{% trans "Wine" %}</th>
                  </tr>
                </thead>
                <tbody>
                  {% for bottle in bottles %}
                    <tr>
                      <td>{{ bottle.wine }}</td>
                      <td>{{ bottle.year }}</td>
                      <td>{{ bottle.date_purchased }}</td>
                      <td>{{ bottle.wine }}</td>
                      <td>{{ bottle.wine }}</td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            {% else %}
              Pas de bouteilles
            {% endif %}
          </div>
        </div>
      </div>
    </div>
    {% else %}
      <div class="container theme-showcase" role="main">
        <div class="jumbotron">
          <h1>{% trans "Welcome" %} !</h1>
          <p class="lead">{% trans "It seems that you don't have any Cellars yet ..." %}</p>
          <p><a class="btn btn-lg btn-success" href="{% url 'cellar:addCellar' %}" role="button">{% trans "Let's create your first one !" %}</a></p>
        </div>
      </div>
    {% endif %}
  {% else %}
      <a href="https://github.com/MrRaph/cellar"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/365986a132ccd6a44c23a9169022c0b5c890c387/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f7265645f6161303030302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png"></a>
      <div class="container theme-showcase" role="main">
        <div class="jumbotron">
          <h1>{% trans "My Cellar" %}</h1>
          <p class="lead">I'm trying to learn about wine and I want to track what I like and
            don't like. This is a small app that I can use to track bottles in
            my cellar (aka my bookshelf).</p>
          <p>Why not use an existing service? I don't really care what anybody else
            thinks about wine, I just want to remember what I'm opening and where
            I got it.</p>

          <p>Starting small right now. The only interface is Django's admin because
            it does basically everything I need it to. I will probably put some sort
            of RESTful API or something up to interact with it from my phone but
            I'm not sure how that will work yet.</p>
          <p>
            <a class="btn btn-lg btn-success" href="{% url 'registration_register' %}" role="button">{% trans "Sign up today" %}</a>
            <a class="btn btn-lg btn-info" href="{% url 'auth_login' %}" role="button">{% trans "Login" %}</a>
          </p>
        </div>
      </div>
  {% endif %}
{% endblock %}
