{% extends "base.html" %}
{% load i18n %}

{% block content %}
  {% if user.is_authenticated %}
    Index page
  {% else %}
    <div class="container theme-showcase" role="main">
      <h1>{% trans "Welcome !" %} </h1>
      <p><a href="{% url 'auth_login' %}">{% trans "Before having some fun here, please login." %} :-)</a></p>
      <p><a href="{% url 'registration_register' %}">{% trans "You don't have an account, take those easy steps to get one" %} ! ;-)</a></p>
    </div>
  {% endif %}
{% endblock %}
